* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 10pt;
  margin: 0;
  color: #000;
  max-width: 550px;
} 

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #333;
}

h4 {
  margin-bottom: 0.5em;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #888;
}

footer {
  margin-left: 1em;
}

#sketch {
  margin-right: 1em;
}

div#main {
  display: flex;
  flex-wrap: wrap;
}

div#main > div.section {
  flex-grow: 1;
  flex-basis: 0;
  margin: 1em;
  margin-top: 0;
}

div#main > div.section div.code {
  font-family: "Source Code Pro", monospace;
  font-size: 9pt;
  white-space: pre;
}

div#main > div.section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  body {
    font-size: 1em;
  }

  header {
    display: block;
  }

  div#main {
    display: block;
  }

  div#main > div.section {
    padding: 0;
    line-height: 1.4em;
  }
}

