:root {
  color-scheme: dark light;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 700px;
  padding: 2em;
} 

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

footer {
}

canvas {
  margin-right: 1.5em;
}

article {
  line-height: 1.2;
  margin-bottom: 3em;
}

main article code {
  font-family: "Source Code Pro", monospace;
}

main article ul {
}

@media (max-width: 600px) {
  body {
    font-size: 1.1em;
  }

  main article {
    line-height: 1.8;
  }

  main article:last-child {
    line-height: 1.2;
  }
}

@media (prefers-color-scheme: light) {
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
  }
}
