body {
    /* Add BG image that doesnt clash */
    background-color: black;
    width: 95%;    
}

main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

canvas {
    border:1px solid #d3d3d3;
    margin: 50px;
}
