html {
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #000000;
}

a {
  color: #ff1937;
}

a:hover {
  text-decoration: none;
}

/* code: a class to format code in monospace */
.code {
  font-family: "Lucida Console";
  font-weight: 800;
}

/* skinny: shrinks the element to 50% */
.skinny {
  width: 50%;
}

/* b: a bold class */
.b {
  font-weight: 700;
}

/* centered: centers elements */
.centered {
  margin-left: auto;
  margin-right: auto;
}

/* bordered: adds a dashed border */
.bordered {
  border: 1px dashed #ffffff;

  /* the border-collapse property combines adjacent borders */
  border-collapse: collapse; 

  padding-left: 40px;
  padding-right: 40px;
}
