html {
  font-family: Helvetica, sans-serif;
  color: #000000;
  font-size: 16px;
  margin: 20px 20px 20px 20px;
  background-color: #ffffff;
}

a {
  color: #1937cd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* code: a class to format code in monospace */
.code {
  font-family: "Lucida Console", monospace;
}

/* skinny: shrinks the element to 50% */
.skinny {
  width: 50%;
}

/* centered: centers elements */
.centered {
  margin-left: auto;
  margin-right: auto;
}

/* bordered: adds a dashed border */
.bordered {
  border: 1px solid #777;
  outline: 1px solid #999;
  padding-left: 30px;
  padding-right: 30px;

  /* the border-collapse property combines adjacent borders */
  border-collapse: collapse; 
}