* {
  font-family: monospace, "courier new", "lucida console";
}

body {
  background: url("../assets/wallpaper.png");
  margin: 10px;
  width: 95%;
}

#tttout table {
  border-collapse: collapse;
}

#tttout td {
  border: 2px solid #000;
  width: 50px;
  height: 50px;
}

.main {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}

.empty:hover {
  background: url("../assets/x.png");
}

.x {
  background: url("../assets/x.png");
}

.o {
  background: url("../assets/o.png");
}
